header {
  height: 4rem;
  width: 100%;
  background-color: #4165b1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: x-large;
  font-weight: 600;
}
.fa-graduation-cap {
  margin: 0.5rem;
}
