.card {
  background-color: white;
  margin: 1rem;
  padding: 1rem;
  width: 15rem;
  height: 10rem;
  border-radius: 0.2rem;
}

.card h1 {
  font-size: 1.25rem;
  margin: 0.3rem 1rem;
}

.card p {
  font-size: 0.9rem;
  margin: 0.3rem 1rem;
}

.card button {
  margin: 1rem;
  display: flex;
  justify-self: end;
  padding: 0.4rem 1.5rem;
  background-color: rgb(227, 30, 30);
  color: white;
  font-weight: 700;
  border: none;
  border-radius: 0.2rem;
}

.pass {
  color: green;
}

.fail {
  color: red;
}
